{
  "extends": "airbnb",
  "rules": {
    "indent": ["error", 2],
    "func-names": [
      "error",
      "never"
    ],
    "semi": ["error", "never"],
    "lines-between-class-members": 0
  },
  "env": {
    "browser": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion":  2018,
    "sourceType":  "module"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  },
}